
@media screen and (max-width: 991px) {
    h1.container {
        font-size: 2.5em;
        margin-top: 1em; /* Adjust the margin-top to center the heading */
    }

    h1.username {
        font-size: 1em;
    }

    input.name {
        font-size: 0.75em;
    }

    input[type="number"] {
        font-size: 1.25em;
        width: 40px;
        height: 40px;
    }

    button {
        font-size: 1em;
    }

    img {
        max-width: 180px; /* Adjust the max-width of the images to make them smaller */
        margin-right: 0.5em; /* Adjust the margin-right for spacing */
    }
}
