


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c1faf3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1.container {

    text-align: center;
    font-size: 8em;
    margin-top: 2em;
    background-color: rgb(55, 115, 158);
    width: 100%;
}

h1.username {
    font-size: 3em;
    text-align: center;
    margin-top: 1em;
}

input.name {
    font-size: 1em;
    text-align: center;
    padding: 8px;
    width: 12em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
    margin-right: 1em;
}

input[type="number"] {
    flex: 1;
    font-size: 3em;
    padding: 8px;
    box-shadow: 2px 2px 14px black;
    border-radius: 6px;
    text-align: center;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

button {
    padding: 8px 20px;
    background-color: rgb(233, 183, 120);
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    font-size: 4em;
}

button:hover {
    background-color: rgb(241, 169, 81);
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}
